*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 0px;
    border-bottom: 1px solid #E2E2E2;
    position: fixed;
    width: 100%;  
    background-color: #FFFFFF;
    margin-top: -85px;
}

.nav_menu_items{
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
    
}

.menu_item{
    margin-right: 18px;
}

.nav_menu_items>div{
    margin-right: 18px;
}

.nav_menu_items p{
    font-size: 14.25px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 5px;
    margin-top: 2px;
}

.menu-bttons{
    margin-right: 15px;

}
nav button{
    padding: 11px 12px 8px;
    text-transform: uppercase;
    font-size: 11px;
    background: #567B95;
    color:#FFFFFF;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    border: none;
    border-radius: 3px;
}