*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 0px;
    border-bottom: 1px solid #E2E2E2;
    position: fixed;
    width: 100%;  
    background-color: #FFFFFF;
    margin-top: -85px;
}

.nav_menu_items{
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
    
}

.logo-img{
    margin-left: -100px;
}

.menu_item{
    margin-right: 18px;
}

.nav_menu_items>div{
    margin-right: 18px;
}

.nav_menu_items p a{
    font-size: 14.25px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 5px;
    margin-top: 2px;
    color: #000000;
    text-decoration: none;
}

.nav_menu_items p a:hover{
    text-decoration: underline;
}



.menu-bttons{
    margin-right: 15px;

}
nav button{
    padding: 11px 12px 8px;
    text-transform: uppercase;
    font-size: 11px;
    background: #567B95;
    color:#FFFFFF;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    border: none;
    border-radius: 3px;
}

.middle-container{
    width: 945px;
    margin: 0 auto;
      
}

.intro{
    margin-left: 160px;
    margin-top: 85px;
    margin-bottom: 25px;
    
}
.intro p{
    font-size: 40px;
    color: #121212;
    font-family: nyt-cheltenham, georgia,"times new roman";
    font-style: italic;
    font-weight:530;
}

.img-desc{
    width:720px;
    font-size:15px;
    color: #666666;
    font-family: nyt-imperial,georgia,"times new roman";
    margin-top: 7px;
}

.third-container{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
}
.author{
    font-size: 15px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    color: #333333;
    font-weight: bold;
}

.author a{
    font-size: 15px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    color: #333333;
}

.author a:hover{
    text-decoration: none;
}

.stat{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.stat p{
    margin-top: 10px;
}

.stat>div:nth-child(2){
    margin-left: auto;
}

.stat img{
    margin-right: 7px;
}

.main-paragraph{
    font-size: 20px;
    font-family: nyt-imperial,georgia,"times new roman";
    color: #333333;
    line-height: 1.5;
    margin-top: 20px;

}

.short-paragraph-box{
    margin: 0 auto;
    padding: 5px;
}

.short-paragraph-box hr{
    width: 70px;
    margin: 20px auto;
    background-color: 1px solid rgb(204, 204, 204);
}

.short-paragraph-box hr .bottom-line{
    margin-bottom: 0;
}



.short-paragraph{
    text-align: center;
    font-size: 15px;
    color: #333333; 
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: bold;
}

.short-paragraph a{
    text-align: center;
    font-size: 15px;
    color: #326891; 
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.special-paragraph{
    font-size: 20px;
    color: #333333;
    font-family: nyt-imperial,georgia,"times new roman";
    font-weight: bold;
    margin:20px 0;
}

.paragraph-link{
    color: #326891; 

}

.paragraph-link:hover{
    color: #326891; 
    text-decoration: none;

}

.top-container{
    height: 576px;
    width: 945px;
    margin: 0 auto;
    margin-top: 2135px;

}

.top-container .first-top{
    color: #000000;
    font-size: 20px;
    font-family: nyt-cheltenham, georgia,"times new roman";
    font-weight: 450;
    margin-bottom: 5px;

}

.top-container .second-top{
    color: #666666;
    font-size: 14px;
    font-family: nyt-cheltenham-sh, georgia,"times new roman";

}


.inflation{
    margin-top: -515px;
    background-image: url(images/down.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    height: 576px;
    width: 945px;
      
}

.features{
    display: flex;
    justify-content: space-between;
    
    
}

.features>div{
    margin-top: 150px;
    width: 228px;
    height: 120px;
    box-sizing: border-box;  
}


.features>div p{
    color: #000000;
    font-size: 14px;
    font-family:  nyt-franklin,arial,helvetica,sans-serif;
    line-height: 17px;
    
    font-weight: lighter;
    
}

.features span{
    font-size: 11px;
    font-weight: 800;
    color: #000000;
    font-family:  nyt-franklin,arial,helvetica,sans-serif;
}

.co-authors{
    margin-top: 40px;

}

.co-authors hr{
    margin-top: 40px;
    width: 60px;
    background-color:#000000;
    margin-bottom: 15px;

}

.co-authors p{
    color: #333333;
    font-size: 14px;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    line-height: 1.125rem;
    font-weight: 500;
    font-style: normal;

}

.cont{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
    
}

.cont iframe{
    margin-top: 45px;
}

.img-text{
    font-size: 13px;
    color: #888888;
    font-family: nyt-imperial,georgia,"times new roman";
    margin-top: 10px;

}

.img-text span{
    color: #666666;
    font-family: nyt-imperial,georgia,"times new roman";
    font-size: 15px;
    margin: 0 7px 0 0;
}

.more-space{
    margin-top: 37px;
}

.telescope{
    margin-top: 43px;
}


.base-paragraph{
    font-size: 12px;
    color: #666666;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    margin-top: 20px;
    line-height: 17px;

}

.base-paragraph a{
    color: #666666;
    border-right: 1px solid #666666;
    padding: 0 3px;
    text-decoration: underline;
}

.base-paragraph a:hover{
    text-decoration: none;
}

.base-paragraph span:last-child a{
    border-right: none;
}

  