*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 0px;
    border-bottom: 1px solid #E2E2E2;
    position: fixed;
    width: 100%;  
    background-color: #FFFFFF;
    margin-top: -85px;
}

.nav_menu_items{
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
    
}

.menu_item{
    margin-right: 18px;
}

.nav_menu_items>div{
    margin-right: 18px;
}

.nav_menu_items p a{
    font-size: 14.25px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 5px;
    margin-top: 2px;
    color: #000000;
    text-decoration: none;
}

.nav_menu_items p a:hover{
    text-decoration: underline;
}



.menu-bttons{
    margin-right: 15px;

}
nav button{
    padding: 11px 12px 8px;
    text-transform: uppercase;
    font-size: 11px;
    background: #567B95;
    color:#FFFFFF;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    border: none;
    border-radius: 3px;
}

.middle-container{
    width: 941px;
    height: 500px;
    margin: 0 auto;   
}

.intro{
    margin-left: 160px;
    margin-top: 85px;
    margin-bottom: 25px;
    
}
.intro p{
    font-size: 40px;
    color: #121212;
    font-family: nyt-cheltenham, georgia,"times new roman";
    font-style: italic;
    font-weight:530;
}

.img-desc{
    width:720px;
    font-size:15px;
    color: #666666;
    font-family: nyt-imperial,georgia,"times new roman";
    margin-top: 7px;
}

.third-container{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 270px;
}
.author{
    font-size: 15px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    color: #333333;
    font-weight: bold;
}

.author a{
    font-size: 15px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    color: #333333;
}

.author a:hover{
    text-decoration: none;
}

.stat{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.stat>div:nth-child(2){
    margin-left: auto;
}

.stat img{
    margin-right: 7px;
}

.main-paragraph{
    font-size: 20px;
    font-family: nyt-imperial,georgia,"times new roman";
    color: #333333;
    line-height: 1.5;
    margin-top: 20px;

}

.short-paragraph-box{
    margin: 0 auto;
    padding: 5px;
}

.short-paragraph{
    text-align: center;
    font-size: 15px;
    color: #333333; 
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: bold;
}

.short-paragraph a{
    text-align: center;
    font-size: 15px;
    color: #326891; 
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.special-paragraph{
    font-size: 20px;
    color: #333333;
    font-family: nyt-imperial,georgia,"times new roman";
    font-weight: bold;
    margin:20px 0;
}

